@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.float-animation {
  animation: float 10s ease-in-out infinite;
  object-fit: cover;
}

.bg {
  background: rgb(0, 142, 208);
  background: linear-gradient(0deg, rgba(0, 142, 208, 0.2) 0%, rgba(0, 142, 208, 0) 100%);
  height: 100vh;
}
